# Pandas Cheat Sheet

## Source
The following cheat sheet was created using examples from https://www.youtube.com/watch?v=vmEHCJofslg
as well as resources from the Pandas Basics cheat sheet from DataCamp.com

## Pandas boilerplate

In [55]:
import numpy as np # Numpy is imported for generating nan values
import re # Regex imported for regex selection example
import pandas as pd

## Creating Series and DataFrames

In [32]:
# Create series from list data
s = pd.Series([3, -5, 7 , 4], index=['a', 'b', 'c', 'd'])

# Create dataframe from dictionary data
data = {'Country': ['Belgium','India','Brazil'],
        'Capital': ['Brussels','New Delhi','Brasilia'],
        'Population': [11190846, 1303171035, 207847528]}

df_dict = pd.DataFrame(data, columns=['Country','Capital','Population'])

# # Create dataframe using array
# df = pd.DataFrame(arr, columns=['col1', 'col2', 'col3'])

# Create new dataframe from old dataframe data
df_new = df_dict[['Country', 'Capital']]

# Create a copy of another dataframe
df_copy = df.copy()

## Importing Data

Note that df stands for dataframe

In [12]:
# CSV reader command (for comma separated format)
    # Indicate which values in used to indicate nans in the csv 
df = pd.read_csv('pokemon_data.csv', na_values='')

# CSV reader command (for csv with no header and dates)
    # skiperows=4 Starts converting at row 5
    # parse_dates=[0,] Converts dates in column zero
    # date_parser=pd.to_datetime Specifies how to parse dates
# df = pd.read_csv('temp.csv', header=None, names=['date', 'temp'], skiprows=4, parse_dates=[0,], date_parser=pd.to_datetime)

# # Excel reader command (for excel data)
# df_xlsx = pd.read_excel('pokemon_data.xlsx')

# # Text reader command (for text files with tab as delimiter)
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')

## Exporting Data

In [ ]:
# # Save working data to a csv file
    # # 'modified.csv' will be the name of the file
    # # index=False line indicates that index will not be included as a column
# df.to_csv('modified.csv', index=False)

# # Save working data to an excel file
# df.to_excel('modified.xlsx', index=False)

# # Save working data to a text file (with tab as delimeter)
# df.to_csv('modified.txt', index=False, sep='\t')

## Cleaning Data

In [ ]:
# # Replace '?' values with 'NaN'
# df = df.replace({'?': 'NaN'})

# # Convert dataframe datatypes
# df = df.astype('float')

# # Generate boolean array of nan values
# df.isnull()

# # Find the number of nan values in each column
# df.isnull().sum()

# # Replaces all nan values with average
# df.fillna(df.mean())

# # Replaces nan values specific columns
# data.fillna({'chol': data['chol'].mean(), 'trestbps': data['trestbps'].min()})

# # Replace all 12s with 13s and all 13s with 14s in 'count' column
# df['count'].replace([12, 13], [13, 14])

# # Drop rows containing nan values in specific columns
# df.dropna(subset=['chol', 'trestbps'])

# # Drops duplicate rows
# df = df.drop_duplicates()

## Viewing/Inspecting Data

In [70]:
# # Displays entire dataframe
# df

# # Displays top 5 rows of dataframe
df.head(5)

# # Displays bottom 5 rows of dataframe
# df.tail(5)

# # Displays column headers
# df.columns

# # Displays the shape of the dataframe (#rows, #cols)
# df.shape

# # Displays min/max values for each column
# df.min()
# df.max()

# # Displays the mean values for each column
# df.mean() 

# # Displays index, datatype, and memory information
# df.info()

# # Displays summary statistics for numerical columns
# df.describe()

# # Displays correlation matrix for columns
# df.corr()

# # Displays unique values and counts of series (Histogram)
# s.value_counts(dropna=False)

# # Displays number of non-BA values in each column
# df.count()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,1

## Selecting Data by Column Name, Row Index, and Criterion

Note: iloc stands for integer location

General Format:
- iloc\[rowIndexStart:rowIndexStop, colIndexStart:colIndexStop]
- Note that the stop index is NOT included in the selected range
- i.e. iloc\[0:4, 0:3] selects rows of index 0-3 and columns of index 0-2 

Return values:
- When selecting a single item -> Returns value
- When selecting a row/column -> Returns Series
- When selecting a table subset -> Returns DataFrame

In [63]:
#####################################################################################################
### SELECTING BY NAME AND INDEX

# # Select single column
df['Name']

# # Select specifc rows of column
# df['Name'][0:5] # Selects first 5 rows

# # Select multiple columns
# df[['Name','Type 1', 'HP']]

# # Select single row by index (iloc stands for integer location)
# df.iloc[0, :] # Selects first row

# # Select multiple rows by index
# df.iloc[0:4, :] # Selects first 4 rows

# # Select a specific location (rowIndex, colIndex)
# df.iloc[2,1] # Selects the data in row index 2, column index 1

# # Select a table subset
# df[['Name', 'Type 1']].iloc[0:4] # Selects first 4 rows of Name and Type 1 columns
# df.iloc[0:4, 0:3] # Equivalent, but less intuitive method

#####################################################################################################
### SELECTING BY CRITERIA

# # Select rows by single criterion using ==
# df.loc[df['Type 1'] == 'Grass'] # Selects rows in column 'Type 1' that hold the value of 'Grass'

# # Select rows by strings that contain a keyword 
# df.loc[df['Name'].str.contains('Mega')] # Selects rows that contain 'Mega' in the name

# # Select rows by strings that contain a keyword using regex
# df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)] # Selects pokemon of 'Type 1' of Fire or Grass
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)] # Same as above, ignores case sensitivity
# df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] # Selects pokemon with names that start with "pi"

# # Select rows by multiple criteria (Note that '&' and '|' are to be used rather than 'and' and 'or')'
# df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

# Note, if constructing a new DataFrame after selecting multiple criteria, use this on the new df to reset the indexes
# df.reset_index(drop=True, inplace=True)

## Traversing Data

In [1]:
# # Iterate through data
# for index, row in df.iterrows(): # Iterate through rows (iterrows)
#     print(index, row['Name'])    # For each, print index and value under column 'Name'

## Sorting Data

Default sort format:
- Letters get sorted alphabetically
- Numbers get sorted sorts numbers ascending order

Note: Python sorts capitalized words before lowercase words

In [2]:
# # Sort series
# s.sort_values(ascending=True)

# # Sort column of dataframe
# df.sort_values('Name', ascending=True) # Ascending is true by default, change this to reverse sort order

# # Sort column with sorted subcolumn
# # This method sorts by 'HP' then sorts by 'Type 1' such that the pokemon are sorted by type and each type is sorted by HP. 
# # Note: Change the numbers in ascending=[1,1] to 0 for rows that you want to reverse sort
# df.sort_values(['Type 1', 'HP'], ascending=[1,1])

## Manipulating Data

When manipulating data, it is a good idea to export to CSV as you go.
This way, you can reload a previous version in case you mess up the data.

In [4]:
#####################################################################################################
### ARRAY MATH

# # Math operations on dataframe
# # Convert temp data from F to C (assuminng array holds temp values)
# df = (9/5) * df + 32

# # Sum two dataframes of same shape
# df + df2

# # Map a function to each column (labda)
# f = lambda x: x.max() - x.min()
# df.apply(f)

#####################################################################################################
### ADDING/REMOVING/REORGANIZING COLUMNS

# # Add a new nan column to the table
# df['Total'] = np.nan

# # Add a new column that is the sum of other other numerical columns
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# # Drop a column from the table
# df = df.drop(columns=['Total'])

# # Reorder columns in the table
# df = df[['Total', 'HP', 'Defense']] # Overwrites with new dataframe in desired order

# # Bin age into 3 categories
# # Asking qcut to return a subset of ages, with 3 unique columns, column labels young middle old
# data['agegroup'] = pd.qcut(data['age'], 3, labels=['young', 'middle', 'old'] )

# # Bin 'chol' column into quantiles
# data['chol_quantiles'] = pd.qcut(data['chol'], [0, 0.3, 0.7, 1.0], labels=['low', 'mid', 'high'])

#####################################################################################################
### CONDITIONAL CHANGES

# # Change all 'Fire' type pokemon in column 'Type 1' to 'Flamer'
# df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

# # Change all pokemon of type 'Fire' in 'Type 1' to legendary
# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

# # If total > 500, change Generation and Legendary to 'TEST VALUE'
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'

# # If total > 500, change generation to 'Test 1' and legendary to 'Test 2'
# df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

## Statistical Analysis

In [65]:
# # Get averages for all stat columns according to 'Type 1'
# # Eg. You could see which pokemon type had highest average of each stat
# df.groupby(['Type 1']).mean()

# # Same as above but sorts by defense
# df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

# # Get sum for all stat columns according to 'Type 1'
# df.groupby(['Type 1']).sum()

# # Get count of all pokemon in each type (Did you know there were 69 bug pokemon?)
df['count'] = 1 # Creates new column called 'count' initialized with 1s 
# Count the number of rows in 'Type 1' that have a value in column 'count'
df.groupby(['Type 1']).count()['count']

## Can see the number of pokemon in each type subset
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

## User Defined Categories

In [ ]:
# # Import this to create a new category type
# from pandas.api.types import CategoricalDtype 

# # Creating new category types. ordered = True means the given argument order should be the heirarchical order used
# cat_type = CategoricalDtype(categories=['disagree', 'agree', 'strongly agree'], ordered=True)

# # Convert to user defined datatype 
# df2['parks'] = df2['parks'].astype(cat_type)

## CSV From Web Example

In [ ]:
# Url string with variables station, year and month
    # Timeframe
    # 1 = hourly, 2 = daily (ignores the month, just gives daily data for the entire year (365 rows))
url_template = "https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID={station}&Year={year}&Month={month}&Day=14&timeframe=1&submit=Download+Data"

# Replace variables in string with actual values
    # station = 2205 is at the Calgary Airport (2205 up to July 2012, 50430 for July 2012 - present)
url = url_template.format(station=2205, year=2001, month=5) 

# Read data from URL into dataframe, use headers and set Date/Time column as index
weather_data = pd.read_csv(url, index_col='Date/Time', parse_dates=True) 

# 27 total columns, but note: some columns don't have any data (N/A)
weather_data.info()

## Processing Large Datasets

Sometimes data is so large it has to be processed in chunks

In [ ]:
# # Create a new empty dataframe with the same column names
# new_df = pd.DataFrame(columns=df.columns)

# # Pass 5 rows at a time into memory and process
# for df in pd.read_csv('modified.csv', chunksize=5):
#     results = df.groupby(['Type 1']).count()
#     # Concatenate each chunk of results into the new dataframe
#     new_df = pd.concat([new_df, results])